$iris: #3a4ad4ff;
$viridian-green: #119da4ff;
$rich-black-fogra-39: #040404ff;
$timberwolf: #d7d9ceff;
$lilac: #bf9acaff;
$ship-cove: #838ea9;
$white-smoke: #f2f2f2;
$solitude: #EAEDF0;
$semi-transparent-black: #000000b3;