:root {
  --iris: #3a4ad4ff;
  --viridian-green: #119da4ff;
  --rich-black-fogra-39: #040404ff;
  --timberwolf: #d7d9ceff;
  --lilac: #bf9acaff;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--timberwolf);
  text-decoration: none;
}

/*Header*/

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: var(--rich-black-fogra-39);
  color: var(--timberwolf);
}

.search-bar {
  margin-top: auto;
  margin-bottom: auto;
  width: 58vw;
  height: 50%;
}

header div {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

header a {
  font-size: 1.2rem;
  font-weight: bold;
}

header svg {
  margin-top: 0.8rem;
  stroke: var(--timberwolf);
}

/* Navbar */

nav {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--viridian-green);
  color: var(--timberwolf);
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--rich-black-fogra-39);
}

footer p {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--timberwolf);
}
